.repository-list {
  display: flex;
  flex-flow: column;
  // align-items: center;
  // flex-direction: row;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.card {
  &-component {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5%;
    // border-radius: 3px;
    // background-color: #a1cbfa;
    border: 2px solid #182848;
    // color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    h3 {
      margin: 10px 0;
    }
  }
  &--image {
    width: 100%;;
  }

  &--content {
    padding: 5%;
  }

  &--bubble {
    background: #182848;
    margin-top: auto;
    height: 30px;
    color: #fff;

    &-item {
      // border-radius: 15px;
      padding: 2px 8px;
      display: inline-block;
    }
  }
}

.new-repository-list {
  display: flex;
  flex-flow: column;
}

.new-card {
  position: relative;
  height: auto;
  margin-bottom: 5%;
  // border-radius: 3px;
  // background-color: #a1cbfa;
  border: 2px solid #182848;
  // color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

h3 {
  margin-top: 0;
}

.new-card__image {
  width: 100%;
}

.new-card__content {
  padding: 5%;
}

@media screen and (min-width: $width-small) {
  // old
  .repository-list {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .card-component {
    width: 47%;
  }

  // new
  .new-repository-list {
    align-content: space-between;
    flex-flow: column wrap;
    // With ordering
    height: unset;
    min-height: 1400px;
    max-height: 1500px;

    // counter-reset: items;
    &::after {
      content: "";
      flex-basis: 100%;
      flex-shrink: 0;
      width: 0;
      order: 1;
    }
  }

  .new-card {
    width: 47%;
    margin-bottom: 5%;

    // &::before {
    //   counter-increment: items;
    //   content: counter(items);
    // }

    // Only if more projects card exists
    // &:last-child {
    //   flex-grow: 0.6;
    //   border: 1px solid #bdbaba;
    //   background-color: #d8dad8;
    // }
    // With ordering
    &:nth-child(2n+1) {
      order: 1;
    }
    &:nth-child(2n) {
      order: 2;
    }
  }
}

@media screen and (min-width: $width-medium) {
  .new-repository-list {
    // With ordering
    min-height: 1400px;
    max-height: 1700px;
  }
}

// @media screen and (min-width: $width-large) {
  // .new-repository-list {
  //   max-height: 1900px;

    // &::before,
    // &::after {
    //   content: "";
    //   flex-basis: 100%;
    //   width: 0;
    //   order: 2;
    // }
  // }
  // .new-card {
  //   width: 31%;
  //   &:nth-child(3n+1) {
  //     order: 1;
  //   }
  //   &:nth-child(3n+2) {
  //     order: 2;
  //   }
  //   &:nth-child(3n) {
  //     order: 3;
  //   }
  // }
// }

@media screen and (min-width: $width-extra-large) {
  // old
  .card-component {
    width: 31%;
    margin-bottom: 4%;
  }

  // new
  .new-repository-list {
    min-height: unset;
    max-height: unset;
    height: 1390px;

    &::before,
    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }
  }

  .new-card {
    width: 31%;
    margin-bottom: 3%;
    &:nth-child(3n+1) {
      order: 1;
    }
    &:nth-child(3n+2) {
      order: 2;
    }
    &:nth-child(3n) {
      order: 3;
    }
  }
}