.section--bottom {
  display: inline-block;

  ul {
    display: flex;
    margin: 15px 0;

    li {
      height: 35px;
      width: 35px;

      img {
        width: 35px;
        height: 35px;
      }

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  p {
    margin: 0;
  }
}