@import 'components/Variables';
@import 'components/Section';
@import 'components/Projects';
@import 'components/About';

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato/Lato-Regular.ttf") format('truetype'),;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato/Lato-Black.ttf") format('truetype'),;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body,
html {
  position: static;
  margin: 0;
  height: 100%;
  width: 100%;
  background: $colour__white;
  font-family: 'Lato';
  font-size: 1rem;
  overflow: hidden;
  color: #fff;
}

#root {
  position: absolute;
  min-height: calc(100vh - 50px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.index-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: auto;
  display: block;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}

@media screen and (min-width: $width-medium) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 42px;
  }
}